/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/*   font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Roboto', sans-serif;
 */


/* common styles  */
* {
    margin: 0;
    padding: 0;

}

body {
    max-width: 1400px;
    background-color: #F3F1FF;
    font-family: 'Poppins';
}

section {
    width: 870px;
    
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin: 30px auto;
    align-items: center;
}
/* navbar  */
.navbar-section{
    width: 100%;
    height: 80px;
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-items{
    width: 870px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side{
    display: flex;
    align-items: center;
}
.left-side img{
    width: 36px;
    margin-right: 10px;
}
.left-side h1{
    color: white !important;
    font-family: sans-serif;
    font-weight: 500;
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side img{
    width: 38px;
}
.right-side ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side ul li{
    list-style: none;
    margin-right: 20px;
}
.right-side ul li a{
    text-decoration: none;
    color: white;
}


.top-players{
    margin-top: 40px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}

.top-player-heading {
    color: #562EFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 40px 0px 0px 20px;
}

.player {
    display: flex;
    align-items: center;
    gap: 10px;
}
.player h2{
    font-size: medium;
}

.player img {
    width: 56px;
    height: 56px;
}
hr{
    width: 97%;
    margin: 0 auto;
}

/* blog section  */
.blog{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.blog img{
    width: 200px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    
}
.blog-item{
    margin-left: 10px;
}
.blog-item h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.blog-item p span{
    color: #562EFF;
    
}

/* course section  */
.latest-course{
    
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
    
}
.corse{
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 8px 8px 16px rgb(233, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corse img{
    width: 90%;
}
.cores-heading{
    padding-left: 12px;
    margin-top: 10px;
}
.cores-heading h2{
    font-size: 18px;
    font-weight: 400;
}
.cores-heading small{
    color: rgb(244, 118, 118);
}
.course-desc{
    margin: 10px 20px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-desc{
    display: flex;
    align-items: center;
}
.star-div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.star img{
    width: 12px;
}
.rating{
    color: #6c757d;
    font-size: 12px;
}
.right-desc{
    display: flex;
    align-items: center;
}
.right-desc img{
    width: 22px;
    margin-right: 10px;
}